/* Variables and presets */

:root {
    --bg-color: hsl(0, 0%, 7%);
    --border: hsl(0, 0%, 15%);
    --next-char-bg: hsl(0, 0%, 22%);
    --labels: hsl(240, 3%, 46%);
    --test-text-color: hsl(240, 1%, 59%);
    --wpm-color: hsl(0, 0%, 100%);

    --selected-setting: hsl(214, 100%, 55%);
    --mouse-over-setting: hsl(210, 100%, 65%);

    --green: hsl(140, 63%, 57%);
    --red: hsl(354, 63%, 57%);
    --yellow: hsl(49, 85%, 70%);

    --label-size: 16px;
    --score-value-size: 24px;
    --typing-test-size: 30px;
    --dialog-title: 40px;

    --bold-weight: 600;
    --very-bold-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

body, textarea {
    color: var(--labels);
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px
}

body {
    /* For the sticky footer */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;

    margin: auto 5em;
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}

main {
    flex-grow: 1;
    display: block;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: var(--typing-test-size);
    color: white;
}

hr {
    color: var(--border);
    width: 100%;
    border-style: solid;
}

button, .setting-value {
    border-radius: 11px;
}

.selectable:focus {
    cursor: pointer;
    padding: 0.9em 0.2em;
    border-radius: 14px;
    border: 1px solid var(--mouse-over-setting);
}

.settings .selectable:focus {
    padding: 0.7em 0.2em;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 2ex;

    margin: 2.2ex 0 2.5ex 0;
}

#header-logo {
    flex: 1 0 0;
    display: inline-block;
    max-width: fit-content;
    width: 100%;
}

#header-logo-small {
    display: none;
    flex: 1 0 0;
    max-width: fit-content;
    width: 100%;
}

#pb {
    flex: 0 0 1;
}

#pb-text-small-screen {
    display: none;
}

#pb-img {
    height: 1.7ex;
    vertical-align: middle;
}

#pb-wpm {
    color: var(--wpm-color);
}

/* Score and settings bar */
#before-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.4ex 2ex;
    margin-bottom: 2.5ex ; 
}

#before-test p {
    margin: 0;
}

#before-test > div {
    margin: 0;
}

#scores {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2ex 1.8ex;
}

.score-value {
    padding-right: 1.2ex;
    border-right: 1px solid var(--border);
    font-weight: 700;
    font-size: var(--score-value-size);
    vertical-align: middle;
}

.last-score {
    padding: 0;
    border: none;
}

/* Game settings */
.settings-buttons {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.settings {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.4ex 1ex;
    font-size: var(--label-size)
}

.settings input[type="radio"] {
    display: none;
}

.settings input[type="radio"]:checked {
    ~ .selectable .setting-value {
        color: var(--selected-setting);
        border-color: var(--selected-setting);
    }    
}

.settings input[type="radio"]:active {
    ~ .selectable .setting-value {
        color: var(--mouse-over-setting)
    }    
}

.settings > label {
    color: var(--wpm-color);
}

.separated {
    border-right: 1px solid var(--border);
    padding-right: 2ex
}

.setting-value {
    padding: 0.5em;
    border: 1px solid var(--labels);
}

.setting-value:hover {
    cursor: pointer;
    border-color: var(--mouse-over-setting);
}

.settings-disabled {
    pointer-events: none;
}

.settings-disabled .setting-value {
    color: var(--labels);
    border-color: var(--labels);
}

/* Test area */

#typing-test {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    flex-grow: 1;
    margin: 1.5ex 0;
    font-size: var(--typing-test-size);
}

#text-model{
    grid-area: 1/1;
    z-index: -1;
    pointer-events: none;
    margin: 0;
    word-spacing: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#text-typed {
    grid-area: 1/1;
    pointer-events: none; /* disable selection */
    color: transparent;
    background-color: transparent;
    width: 100%;
    border-style: none;
    border-color: transparent;
    outline: none;
    overflow: hidden;
    resize: none;

    font-size: var(--typing-test-size);
    padding: 0;
}

.correct {
    color: var(--green);
}

.incorrect {
    color: var(--red);
    text-decoration: underline;
}

#next-char {
    background-color: var(--next-char-bg);
}

/* Start button */
#start-msg, #resume-msg {
    grid-area: 1/1;
    z-index:1;
    backdrop-filter: blur(4px);
    place-self: stretch;
    display: grid;
    place-items: center;
    text-align: center;
    
    * { 
        font-size: var(--label-size);
        font-weight: var(--very-bold-weight);
    }   
}

#start-button, #resume-button {
    color: var(--wpm-color);
    background-color: var(--selected-setting);
    text-align: center;
    padding: 0.8em;
    border: none;

    &:hover {
        background-color: var(--mouse-over-setting);
        cursor: pointer;
    }
}

#resume-msg {
    display: none; /* hidden by default */
}

/* Restart button */
#restart-bar {
    margin-top: 1em;
    text-align: center;
}

#restart-button {
    color: var(--wpm-color);
    background-color: var(--border);
    font-size: var(--label-size);
    font-weight: var(--very-bold-weight);
    text-align: center;
    padding: 0.8em;
    border: none;
}

#restart-button > * {
    vertical-align: bottom;
}

#restart-button:hover {
    > span {
        text-decoration: underline;
    }
}

#restart-button:active {
    background-color: var(--labels);
}

#restart-button ~ p {
    margin-top: 0;
}

#icon-restart {
    vertical-align: top;
}

/* Footer */
footer {
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 4rem auto 2rem auto;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

.attribution a:hover {
    color: var(--mouse-over-setting);
}

/* Game finished pop-up */
dialog {
    background-color: var(--border);
    color: var(--test-text-color);
    text-align: center;
    border: none;
    border-radius: 20px;
    padding-left: 3em;
    padding-right: 3em;
}

#dialog-grid {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-rows: 2fr 1fr;
    gap: 1em;

    h1 {
        margin-bottom: 0.3em;
    }

    p {
        margin-top: 0.3em;
    }
}

#star-1 {
    position: absolute;
    top: 30%;
    right: 3%;
}

#star-2 {
    position: absolute;
    left: 8%;
    top: 13%;
}

#dialog-title {
    grid-area: 1;
    display: block;
    margin: 2em auto;
    h1 {
        margin-bottom: 0px;
    }
}

#completed-bg {
    padding: 0.6em;
    background-color: rgb(from var(--green) r g b / 0.25);
    clip-path: circle(at center);
}

#completed-bg-larger {
    padding: 0.8em;
    margin-top: 1.5em;
    background-color: rgb(from var(--green) r g b / 0.1);
    clip-path: circle(at center);
}

#baseline-text {
    display: none;
}

#dialog-new-pb {
    display: none;

    #new-pb-img {
        margin: 2.9em auto 1.4em auto;
    }
}

#dialog-grid.established {
    #dialog-completed #complete-text {
        display: none;
    }

    #dialog-completed #baseline-text {
        display: inherit;
    }
}

#dialog-grid.new-pb {
    #dialog-completed {
        display: none;
    }

    #dialog-new-pb {
        display: inherit;
    }

}
#dialog-scores {
    display: flex;
    flex-direction: row;
}

.score {
    flex: 1 0 0;
    padding: 0.8em;
    border: 1px solid var(--test-text-color);
    border-radius: 12px;
    margin: 0.5em;
    text-align: left;
    display: flex;
    flex-direction: column;

    > *:last-child {
        flex-grow: 1;
    }
}

.sora-bold {
  font-weight: 600;
}

.sora-bolder {
  font-weight: 700;
}

.white {
    color: var(--wpm-color);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow)
}

/* Custom design for mobile */

@media screen and (max-width: 375px) {
    body {
        margin: auto 1em;
    }

    /* Header */
    #header-logo {
        display: none;
    }

    #header-logo-small {
        display: inline-block;
    }

    #pb-text {
        display: none;
    }

    #pb-text-small-screen {
        display: inline;
    }

    /* Score and settings bar */
    #before-test {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.4ex 2ex;
        margin-bottom: 2.5ex ; 
    }

    #before-test p {
        margin: 0;
    }

    #before-test > div {
        margin: 0;
    }

    #scores {
        display: flex;
        flex-wrap: nowrap;
    }

    #scores > p {
        flex-grow: 1;
        display: grid;
        text-align: center;
        justify-content: center;
    }

    .score-value {
        border-right: none;
        padding: 0;
    }

    .divider {
        height: stretch;
        border: 1px solid var(--border);
    }

    /* Footer */
    footer {
        display: none;
    }
}